from funnyCLI.classes.application import Application


class App(Application):
    name = 'funnyCLI'
    dir = $appdir
    background = True
    
    def __init__(self) -> None:
        """here write your application resources for cmd classes"""
        pass
