import time, sys
from funnyCLI.classes.command import CommandMeta


class Quit(CommandMeta):
    cmd = {'name': 'Выйти', }
    is_raise = False

    def accept(self, *args, **kwargs) -> bool:
        self.voice.threaded_accept()
        return True
        
    def execute(self, *args, **kwargs):
        self.print(f'Приложение закрывается по консольной команде', fg='yellow')
        time.sleep(2)
        sys.exit()
